.wishlist-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  place-items: center;
  margin-top: 30px;
  gap: 30px;
  row-gap: 80px;
  justify-content: center;
  padding: 50px 30px;

}

.wishlist-item-card {
  width: 270px;
}

@media(max-width:800px) {
  .wishlist-item-card {
    width: 260px;

  }
}

@media(max-width:500px) {
  .wishlist-item-card {
    width: 250px;
  }
}