.myaddress {

  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.shipping-billing-address {
  min-height: 55vh;
  background: #F2D6CC;
  border-radius: 20px;
  padding: 20px 50px;


}

.shipping-billing-flex {
  margin-top: 35px;
}

.shipping-billing-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.shipping-address, .billing-address {}


.shipping-address-flex, .billing-address-flex {
  display: flex;

  justify-content: space-between;
}

.shipping-address-flex div, .billing-address-flex div {
  display: flex;
  align-items: center;
  /* margin-left: px; */
  gap: 20px;
}

.billing-address h3, .shipping-address h3 {
  font-family: Kumbh Sans;
  font-size: 15px;
  font-weight: 600;
  line-height: 18.6px;
  letter-spacing: 0.12em;
  text-align: left;

}


.shipping-address p, .billing-address p {
  font-family: Kumbh Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 18.6px;
  letter-spacing: 0.12em;
  text-align: left;
  width: 75%;
  margin-top: 20px;
}

.shipping-address button, .billing-address button {
  border-radius: 50px;
  padding: 5px 10px;
  font-size: 12px;
  display: flex;
  align-items: center;
  font-weight: 600px;
  background: #000;
  color: #fff;
  border: 0;
  outline: 0;
}