.ordersummary {
  padding-top: 20vh;
  background: #efe2d7;
}

.order-address {
  padding: 0 50px;
  display: flex;
  /* align-items: center; */
  /* gap: 20px; */
}

.order-address p {
  width: 60%;
  font-size: 17px;
  color: #AE7B37;
}

.order-address h2 {
  color: #E5087E;
}

.order-summary-details {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  align-items: center;
  /* margin: auto; */
  column-gap: -20px;
  color: #AE7B37;
  font-size: 17px;
}

.order-summary-details img {
  width: 150px;
}