.banner {
  width: 100%;
  height: 100vh;
  background: rgb(255, 107, 107);
  display: flex;

  position: relative;
  overflow: hidden;
}



.palji-banners {
  display: flex;
  min-width: 100%;
  width: 300%;
  /* Adjusted width to accommodate all slides */
  height: 100vh;
  align-items: center;
  transition: transform 0.5s ease;
  /* Moved transition here */
}

.slide {
  flex: 0 0 33.33%;
  /* Adjusted slide width based on total slides */
  display: flex;
  height: 100vh;

  align-items: center;
  justify-content: space-evenly;
  min-width: 100%;
}

.palji-banners.active {
  transform: translateX(0);
  /* Added to reset position */
}


.left-banner {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 50px;
}

.left-banner .banner-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: #fff;
}

.title p {
  font-family: Kumbh Sans;
  font-size: 28px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;

}

.content {
  font-family: Kumbh Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
}

.left-banner .banner-info h2 {
  font-family: Kumbh Sans;
  font-size: 64px;
  font-weight: 600;
  line-height: 79px;
  letter-spacing: 0em;
  text-align: left;

}

.cart {
  border: 2px solid white;
  border-radius: 50px;
}

.cart button {
  font-family: Kumbh Sans;
  cursor: pointer;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  background: #E31E24;
  border: 2px solid white;
  display: flex;
  color: #fff;
  border-radius: 50px;
  padding: 5px 20px;
  font-size: 20px;
  width: 200px;
  display: flex;
  justify-content: center;
  border: none;
}


.left-banner .banner-info .right-banner img {
  width: 550px;
}

.arrow-btn {

  position: absolute;
  bottom: 30px;
  display: flex;
  gap: 150px;
  left: 42%;
  /* right: 50%; */
}

.arrow-btn img {
  width: 50px;
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  .left-banner .banner-info h2 {
    font-size: 45px;
  }

  .right-banner img {
    width: 500px;
  }
}

@media screen and (max-width: 850px) {
  .left-banner .banner-info h2 {
    font-size: 40px;
    line-height: 1.4;
  }

  .right-banner img {
    width: 400px;
  }

  .title p {
    font-size: 24px;
  }

  .content {
    font-size: 22px;
  }
}

@media screen and (max-width: 650px) {
  .left-banner .banner-info h2 {
    font-size: 40px;
    line-height: 1.4;
  }

  .right-banner img {
    width: 300px;
  }

  .title p {
    font-size: 24px;
  }

  .content {
    font-size: 22px;
  }
}