.loader {
  background: #FEA59F;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 520;
  width: 100%;
  height: 100vh;
  /* overflow: hidden; */
}

.loader img {
  width: 600px;
  transition: transform 1s ease-out;

}

.loader img.animate {
  animation: moveLogo 1s ease-out,
}

.loader.animate {
  animation: moveBackground 1s ease-out forwards 1s;
}

@keyframes moveLogo {
  to {
    transform: translateY(-100%);
  }
}

@keyframes moveBackground {
  to {
    transform: translate(100%);
  }
}