.payment {
  padding: 0 50px;
  padding-top: 20vh;
  background: #F2D6CC;


}

.two-payment {
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.payment1 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.payment1 img {
  width: 100px;
}